@{
    ViewData["Title"] = "Contact us";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<address>
    17 Wootton Street<br />
    London<br />
    SE1 8TG<br />
    United Kingdom<br />
</address>

<address>
    <strong>Phone:</strong>+44 20 7183 4204<br />
    <strong>E-Mail:</strong> <a href="mailto:info@automationlogic.com">info@automationlogic.com</a>
</address>
